:root {
  font-size: 16px;
  --principal-color: #86bbd8;
  --secondary-color: #ff9f1c;
  --light-color: #fff3f0;
  --dark-color: #0e131f;
  --important-color: #f06e96;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  display: block;
  color: var(--dark-color);
}

#map {
  height: 300px;
  width: 100%;
}
.leaflet-container {
  height: 300px;
  width: 100%;
}

.div-search {
  margin: auto;
}

.search-container {
  width: 100%;
}
